@media only screen and (min-width:700px /*1028px*/) { /* make Header h1 and h1 text align right */
 /* HEADER */                                            /* after this size and navbar left instead of spread li */
  /* Navigation Bar */
/*nav ul {padding-left: 1%;}*/
nav ul li {flex-basis: auto;}

header h1, header h2 {
    margin: 0;
    padding: 0;
    text-align: right;
}

header, footer {
    padding: 0 8%;
}

main {
    padding: 0 5%;
    /*max-width: 64 rem;
    margin: auto;*/
}
header h2{
    padding: 0 0 0.5rem;
}

main h1 {
    margin: 0.5rem;
}

main ul.centred-list-block {
    display: flex;
}
main ul.centred-list-block li {
    flex-basis: 35%;
}
main ul.centred-list-block li a {
    text-align: center;
    display: flex;
    flex-basis:auto;
}

} /* end of media query */