/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
/*@media only screen and (min-width:700px ) { */ /* make Header h1 and h1 text align right */
                                                       /* after this size and navbar left instead of spread li */
/* =================================== BODY =============================================== */
/* ------------------------------- HEADER START ----------------------------------------------- */
  /* ----------------------------- NAVIGATION ---------------------------------------------- */
  nav ul {
    margin: 0 6%;
}
nav ul li {
    float: left;
    flex-basis: 0;
}
nav ul li:first-child a span.nav-text { /* Adjusting first nav item text to be alongside logo */
    margin-top: 15%;
}
nav a {
    display: flex;
    padding: 0.6rem 1rem; /*0.5rem;*/
}
  /* ------------------------------ END NAVIGATION ---------------------------------------------- */

  header, footer {
    padding: 0%;
}
header h2{
    padding: 0 0 0.5rem;
}
header h1, header h2 {
    text-align: right;
    padding-right: 7%;
}
/* -------------------------------- END HEADER ----------------------------------------------- */

/* -------------------------------- MAIN ----------------------------------------------- */
main {
    padding: 0 5%;
    /*max-width: 64 rem;
    margin: auto;*/
}
main h1 {
    margin: 0.5rem;
}
/* ------------------------------- END MAIN ---------------------------------------------- */
} /* end of media query */

/* ------------------------------- FOOTER ---------------------------------------------- */
footer {
    padding-top:2rem;
}
/* ------------------------------- END FOOTER ---------------------------------------------- */