/* 35em is also 560px when basefont is 16px */ /* this is also the min size we can fit 5 flexed menu items horizontally */
@media only screen and (min-width: 35rem) {                   /* and the 4 "centre links" below of current size

/* =================================== BODY =============================================== */
/* ------------------------------- HEADER START ----------------------------------------------- */
  /* ----------------------------- NAVIGATION ---------------------------------------------- */
nav button {
  display: none;
}
nav ul {
  display:flex;
}
nav ul li {
  flex-basis: 25%; /*flex-basis: auto;*/
}
nav a {
  border: none;
  padding: 0.8rem 1rem;
nav ul > li + li {  /* only have borders in-between menu items */
  border-left: 1px solid rgba(64, 91, 102, 0.3);;
}
  /* ------------------------------ END NAVIGATION ---------------------------------------------- */
/* -------------------------------- END HEADER ----------------------------------------------- */

/* -------------------------------- MAIN ----------------------------------------------------- */
  /* List of Links */
main ul.centred-list-block {
    display: flex;
}
main ul.centred-list-block li {
    flex-basis: auto; /*33%;*/
}
main ul.centred-list-block li a {
    display: flex;
    text-align: center;
    flex-basis: auto;
}
/* ------------------------------- END MAIN ---------------------------------------------- */

} /* end of media query */