@media only screen and (min-width: 560px) { /* min size we can fit 5 flexed menu items horizontally */

/* =================================== BODY =============================================== */
/* ------------------------------- HEADER START ----------------------------------------------- */
  /* ----------------------------- NAVIGATION ---------------------------------------------- */
nav button {
  display: none;
}
nav ul {
  display:flex;
}
nav ul li {
  flex-basis: 25%;
}
  /* ------------------------------ END NAVIGATION ---------------------------------------------- */
/* -------------------------------- END HEADER ----------------------------------------------- */

/* -------------------------------- MAIN ----------------------------------------------------- */
  /* List of Links */
main ul.centred-list-block {
    display: flex;
}
main ul.centred-list-block li {
    flex-basis: auto; /*33%;*/
}
main ul.centred-list-block li a {
    display: flex;
    text-align: center;
    flex-basis: auto;
}
/* ------------------------------- END MAIN ---------------------------------------------- */

} /* end of media query */