@media only screen and (min-width: 420px) { /* centre headers h1 and h2, navbar and main links*/
 /* HEADER */                                   /* list starts to flex */
  /* Navigation Bar */
nav ul {display:flex;}
nav ul li {flex-basis: 25%;}

/* MAIN */
  /* List of Links - centred, display flex on med-large screen */
  main ul.centred-list-block {
    display: flex;
}
main ul.centred-list-block li {
    flex-basis: auto; /*33%;*/
}
main ul.centred-list-block li a {
    text-align: center;
    display: flex;
    flex-basis:auto;
}

} /* end of media query */