* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*html {-webkit-text-size-adjust: 100%;      is in normalize.css file - prevents iphones and MS phones
-ms-text-size-adjust: 100%;}                    from trying to enlarge text between portrait and landscape modes*/

/* =================================== BODY =============================================== */

/* Fonts and Background Colour */
body {
    font-family: 'Lato', Calibri, /*'Trebuchet MS', */ sans-serif;
    font-size: 1rem;/*16px;*/
    text-shadow: 0.4rem 0.4rem 0.4rem #868686;
    /*background-image: url("Black Blue Abstract Wallpaper 2781 Hd Wallpapers in Abstract.jpg");*/
    background-color: #aaa;
}

/* All Links */
a {
    color:rgb(119, 32, 90); /* #77205a */
    text-decoration:none;
    font-weight: bolder;
}

a:hover {
    font-weight:bolder;
    text-decoration: underline;
}
a.active {
    color: #405b66;
    text-decoration:none;
    font-weight:100;
}

/* All H2 Headings */
h2 {
    color: #405b66;
    text-align: center;
    padding: 0.1rem 1rem 0.8rem;
    margin: 0 0.8rem 0.8rem;
}

/* ------------------------------- HEADER START ----------------------------------------------- */
div#headerWrapper  {
    background-color:black;
    text-shadow:none;
}

  /* ----------------------------- NAVIGATION ---------------------------------------------- */
  nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    color: #405b66;
    border: none;
    font-size: 1.6rem; /* 44px min height */
}
nav figure.logo {
    width : 100%;
    margin : 0;
    padding: 0;
}
nav ul {
    margin: 0;
    margin-left: 2%;
    padding: 0;
    list-style-type: none;
}
nav ul li:first-child a span.nav-text { /* Adjusting first nav item text to be alongside logo */
    float : left ;
    margin-top : 5%;
}
nav a {
    display: block;
    padding: 0.8rem 2%; /*44 min height */
    border-top: 0.06rem solid rgba(64, 91, 102, 0.3); /* RGB value of #405b66 at 3% alpha is 64, 91, 102, 0.3 */
    font-weight:bolder;
}
nav a:hover {
    background-color: rgba(64, 91, 102, 0.24);
    text-decoration:none;
    text-shadow: 0.3rem 0.3rem 0.3rem black;
}
nav a.active {
    background-color: rgba(64, 91, 102, 0.25);
    /* text-shadow: none; */
    font-weight:bolder;
    text-shadow: 0.3rem 0.3rem 0.3rem black
}

nav ul.hide {
    display: none;
}
  /* ----------------------------- END NAVIGATION ---------------------------------------------- */

div#headingsTopWrapper {
    background-color: rgba(64, 91, 102, 0.25);
    text-shadow: 0.3rem 0.3rem 0.3rem black;
  }

  /* Headings */
header h1 {
    clear:both;
    color:rgb(119, 32, 90);
    text-align: center;
    padding: 0rem 0.3rem 0;
    margin: 0rem 0.8rem 0rem;
}

/* -------------------------------- MAIN ----------------------------------------------- */
  /* Section Heading */
main h1{
    color: #405b66;
    clear:both;
    padding: 1rem 0 0 0;
    text-align: center;
}

main h2{
    padding: 0 1.6rem 0.5rem;
    margin: 0 ;
}

  /* Paragraph */
 main p {
    padding: 0 1.6rem;
    margin: 0;
}

main ul {
    margin: 0;
    padding: 0 0.8rem 0.8rem;
}

  /* For None-type lists */
main ul li {
    list-style-type: none;
    padding: 0 0.8rem 1rem;
}

  /* Bulleted Lists */
main ul.bulleted-list li {
    list-style-type: disc;
    margin: 0 2rem 0;
    padding: 0.5rem 0.8rem;
}
main ul li.bulleted-sublist {
    list-style-type: circle;
    margin-left: 4rem;
    /* padding: .5rem 0.8rem; */
}

  /* Icon-with-text "lists" */                  /* For imported Images and emoji as icons alongside text - easiest displayed as a horizontal unbulleted list like the navbar */
main ul li.bulleted-icon-list-item, li.bulleted-icon-sublist-item {    /* bulleted li containing the icon with text "list"*/
    padding: 0;
}
main ul li.bulleted-icon-sublist-item {
    clear:both;
    list-style-type: circle;
    margin-left: 4rem;
}
main ul li.bulleted-icon-list-item ul.icon-and-text, li.bulleted-icon-sublist-item  ul.icon-and-text {
    padding-left: 0;
}
main ul li.bulleted-icon-sublist-item  ul.icon-and-text li{
    padding-left: 0;
    padding-right: 0.5rem;
}
main ul.icon-and-text {
    margin-bottom: 0.65rem;
}
main span.icon-emoji {
    font-size: 1.2rem;
}
main span.icon-text {
    vertical-align: middle;
    /* font-size: 1.25rem; */
}
main ul.icon-and-text li {
    float : left ;
    display:block;
    padding: 0 0 0 0.65rem;
    margin-left: 0;
    margin-right: 0;
}

  /* Centred List of Links */
main div.centred-block {
    margin: auto;
    padding: 0.5rem 0 0;
    text-align: justify;
}
main ul.centred-list-block {
    display:list-item;
    list-style-type: none;
    margin: 0;
    padding: 0 0.8rem;
}
main ul.centred-list-block li {
    text-align: left;
}

  /* Call-To-Action Block */
main div.call-to-action-block {
    clear:both;
    padding-top: 1.2rem;
    font-weight: bold;
}
    /* cta-bottom-line */
main div.call-to-action-block ul.icon-and-text {
    padding-left: 1.5rem;
}
main div.call-to-action-block ul.icon-and-text li {
    padding: 0rem;
}
main div.call-to-action-block span.icon-text, div.call-to-action-block span.icon-emoji {
    padding: 0;
    margin: 0;
}
main div.call-to-action-block span.icon-emoji {
    padding-left: 0.35rem;
}

main span.not-bold {
    font-weight: normal;
}

/* ------------------------------- END MAIN ---------------------------------------------- */

/* ------------------------------- FOOTER ---------------------------------------------- */
footer {
    clear: both;
    padding-top: 2rem;
    text-align: center;
}
/* ------------------------------- END FOOTER ---------------------------------------------- */

/*---------------------------------- TOOLS ------------------------------------------------*/
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }