* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*html {-webkit-text-size-adjust: 100%;      is in normalize.css file - prevents iphones and MS phones
-ms-text-size-adjust: 100%;}                    from trying to enlarge text between portrait and landscape modes*/

/* BODY */
body {
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-shadow: 4px 4px 4px #aaa;
    /*background-image: url("Black Blue Abstract Wallpaper 2781 Hd Wallpapers in Abstract.jpg");*/
    background-color: #cccccc;
}

  /* All Links */
a {
    color:rgb(119, 32, 90);
    text-decoration:none;
}
a:hover {
    font-weight:bolder;
    text-decoration: underline;
}
a.active {
    color: #405b66;
    text-decoration:none;
    font-weight:100;
}

 /* HEADER */
div#headerWrapper  {
    background-color:black;
    text-shadow:none;
}

ul {
    margin: 0;
    padding: 0 0.8rem 0.8rem;
}

  /* Navigation Bar */
nav ul {
    clear:both;
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
}
nav li a {
    display: block;
    padding: 0.8rem 0.8rem; /*44 min height */
    text-align: center;
}

  /* Headings */
header h1 {
    clear:both;
    color:rgb(119, 32, 90);
    text-align: center;
    padding: 0rem 0.3rem 0;
    margin: 0rem 0.8rem 0rem;
}
h2 {
    color: #405b66;
    text-align: center;
    padding: 0.1rem 1rem 0.8rem;
    margin: 0 0.8rem 0.8rem;
}

/* MAIN */
  /* Section Heading */
main h1{
    color: #405b66;
    clear:both;
    padding: 1rem 0 0 0;
    text-align: center;
}

main h2{
    margin: 0.8rem 0 0;
}

  /* Overview List */
main ul li{
    list-style-type: none;
    padding: .5rem 0.8rem;
}

ul.bulleted-list li {
    list-style-type: disc;
    padding: .5rem 0.8rem;
    margin: 0 2rem 0;
}

  /* Paragraph */
main p {
    padding: 0 1.6rem;
    margin: 0.2rem;
}

  /* List of Links - centred */
div.centred-block {
    margin: auto;
    padding: 0;
    text-align: justify;
}
ul.centred-list-block {
    display:list-item;
    list-style-type: none;
    margin: 0;
    padding: 0 0.8rem;
}
ul.centred-list-block li {
    text-align: left;
}

  /* Images in Main */
/*main img{
    float: right;
}*/

/* FOOTER */
footer {
    clear:both;
    text-align: center;
}