* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*html {-webkit-text-size-adjust: 100%;      is in normalize.css file - prevents iphones and MS phones
-ms-text-size-adjust: 100%;}                    from trying to enlarge text between portrait and landscape modes*/

/* BODY */
body {
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-shadow: 4px 4px 4px #aaa;
    /*background-image: url("Black Blue Abstract Wallpaper 2781 Hd Wallpapers in Abstract.jpg");*/
    background-color: #cccccc;
}

 /* HEADER */
div#headerWrapper  {
    background-color:black;
    text-shadow:none;
}

  /* Navigation Bar */
nav ul {
    clear:both;
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
}
nav li a {
    color:rgb(119, 32, 90);
    display: block;
    padding: 0.8rem 0.8rem; /*44 min height */
    text-align: center;
    text-decoration:none;
}
nav li a.active {
    color: #405b66;
}
nav a:hover {
    color: #405b66;
}

  /* Headings */
header h1 {
    clear:both;
    color:rgb(119, 32, 90);
    text-align: center;
    padding: 0.8rem 0.3rem 0;
    margin: 0.8rem 0.8rem 0.8rem;
}
header h2 {
    color: #405b66;
    text-align: center;
    padding: 0.1rem 1rem 0.8rem;
    margin: 0 0.8rem 1.8rem;
}

/* MAIN */
  /* Section Heading */
main h1{
    color: #405b66;
    clear:both;
    padding: 1rem 0 0 0;
    text-align: center;
}

  /* Overview List */
main ul{
    padding: 0 0.8rem 0.8rem;
}
main ul li{
    list-style-type: none;
    padding: .5rem 0.8rem;
}
ul.bulleted-list li {
    list-style-type: disc;
    padding: .5rem 0.8rem;
    margin: 0 2.6rem
}

  /* Paragraph */
main p {
    padding: 0 1.6rem;
}

  /* List of Links - centred */
div.centred-block {
    margin: auto;
    /*width: 250px;         /*had to set it manually, kept having issues otherwise */
    padding: 0;
    text-align: justify;
    /*align-items: center;*/
}
main ul.centred-list-block {
    display:list-item;
    list-style-type: none;
    margin: 0;
    padding: 0 0.8rem;
}
main ul.centred-list-block li {
    text-align: left;
}
main ul.centred-list-block li a {
    color:rgb(119, 32, 90);
    /*padding: 0 0.5 rem;*/
    /*padding: 0.8rem 0rem;*/
    text-decoration:none;
}
main ul.centred-list-block li a:hover {
    color: #405b66;
}

  /* Link/s in Main */
main a {
    color:rgb(119, 32, 90);
    text-decoration:none;
}
main a:hover {
    color: #405b66;
}

  /* Images in Main */
/*main img{
    float: right;
}*/

/* FOOTER */
footer {
    clear:both;
    text-align: center;
}